$z-icons: 6000
$z-menu: 5000

$margin-normal: 32px
$margin-small: 16px
$margin-petite: 8px
$margin-little: 4px

$font-big: 28px
$font-normal: 20px
$font-small: 14px

$opacity-smallest: .1
$opacity-medium: .25

$border-normal: 2px
$border-small: 1px

$color-bg: var(--color-bg)
$color-main: var(--color-main)

$vh: var(--doc-vh)
$doc-height: var(--doc-height)
