.navbar
    width: 100%
    display: flex
    padding: $margin-normal $margin-small 0 $margin-small
    position: relative
    top: 0
    //background-color: $color-bg
    z-index: $z-header
    //border-bottom: $border-normal solid $color-main
    transition: $transition-color border-color, $transition-color background-color
    align-items: center

.navbar__logo
    font-size: $font-big
    font-weight: 400
    cursor: pointer

.navbar__category
    font-size: $font-normal
    color: $color-main
    transition: $transition-color color
    padding-left: $margin-little
    align-self: center
    cursor: pointer

.navbar__buttons
    display: flex
    position: absolute
    right: $margin-small
    gap: $margin-small
    align-items: center
    @media screen and (max-width: $breakpoint-phone)
        gap: $margin-petite

.langswitcher
    padding: 0
    width: 20px
    height: 20px
    margin-top: 5px
    cursor: pointer
    border: 0
    background: none
    position: relative
    overflow: hidden
    color: $color-main
    transition: $transition-color color, 0.5s transform
    @media screen and (max-width: $breakpoint-phone)
        width: 30px
        height: 30px
        margin-top: 0

.langswitcher__span
    display: block
    font-size: $font-small
    font-weight: 600
    @media screen and (max-width: $breakpoint-phone)
        font-size: $font-standard

.themeswitcher
    padding: 0
    width: 20px
    height: 20px
    margin-top: 5px
    cursor: pointer
    border: 0
    background-color: $color-main
    position: relative
    overflow: hidden
    transition: $transition-color background-color
    justify-self: end
    animation:  $transition-color linear .3s themeswitch2
    @media screen and (max-width: $breakpoint-phone)
        width: 25px
        height: 25px
        margin-top: 0
    &.active
        animation:  $transition-color linear .3s themeswitch

@keyframes themeswitch
    0%
        opacity: $opacity-full
    50%
        opacity: $opacity-none
    100%
        opacity: $opacity-full

@keyframes themeswitch2
    0%
        opacity: $opacity-full
    50%
        opacity: $opacity-none
    100%
        opacity: $opacity-full

.navbar__palette
    z-index: $z-icons
    display: flex
    flex-direction: column
    align-items: center
    width: 80px

//not needed

.palette-button
    height: 100%
    width: 100%
    display: flex

.palette-button__svg
    position: absolute
    width: 100%
    height: 100%
    fill: $color-bg
    filter: url(#gooeyness)
