.palette
    display: flex
    flex-direction: column
    font-size: $font-small
    width: 100%
    height: 80px
    transition: 0.2s all
    padding-top: 10px
    
.palette_state_hidden
    height: 0
    opacity: 0
    padding-top: 0

.palette__input
    width: 100%
